<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="direccion_data" value="C:\Users\carlos.murcia\OneDrive - Ricoh\Escritorio\archivo" />
		<add key="usuario" value="sa"/>
		<add key="clave" value="p@ssw0rd"/>
		<add key="servidor" value="RSV-4267RF2\RICOH2021"/>
		<add key="bd" value="DOT"/>
		<add key="impresora" value="Microsoft Print to PDF"/>
		<add key="nombre" value="TRMETRO" />
		<add key="nombre_largo" value="TR METROCENTRO" />
		<add key="direccion" value="Blvd. Los Heroes, Ctro. Com.Metrocentro, 11 va. Etapa, San Salvador." />
		<add key="nit" value="0614−171083−001−5" />
		<add key="nrc" value="7100−5" />
		<add key="guardar_emisores" value="\\192.168.0.15\emisores\TONYROMAS_METROCENTRO"/>
	</appSettings>
</configuration>
